@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?44473298');
  src: url('../font/fontello.eot?44473298#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?44473298') format('woff'),
       url('../font/fontello.ttf?44473298') format('truetype'),
       url('../font/fontello.svg?44473298#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?44473298#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-homebuyer:before { content: '\e800'; } /* '' */
.icon-broker:before { content: '\e801'; } /* '' */
.icon-serviceman:before { content: '\e802'; } /* '' */
.icon-fb:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-loanofficer:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-locator:before { content: '\e807'; } /* '' */
.icon-bath:before { content: '\e808'; } /* '' */
.icon-bed:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-angle-down:before { content: '\e80b'; } /* '' */
.icon-angle-up:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e80e'; } /* '' */
.icon-star-half:before { content: '\e80f'; } /* '' */
.icon-star-half-alt:before { content: '\e810'; } /* '' */
.icon-angle-right:before { content: '\e811'; } /* '' */
.icon-resize-full-alt:before { content: '\e812'; } /* '' */
.icon-comment:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-share:before { content: '\e815'; } /* '' */
.icon-paper-plane:before { content: '\e816'; } /* '' */
.icon-flight:before { content: '\e817'; } /* '' */
.icon-angle-left:before { content: '\e818'; } /* '' */
.icon-submitlisting:before { content: '\e819'; } /* '' */
.icon-startcontract:before { content: '\e81a'; } /* '' */
.icon-mylisting:before { content: '\e81b'; } /* '' */
.icon-managemembership:before { content: '\e81c'; } /* '' */
.icon-mylisitngreport:before { content: '\e81d'; } /* '' */
.icon-winforms:before { content: '\e81e'; } /* '' */
.icon-contrats:before { content: '\e81f'; } /* '' */
.icon-flag:before { content: '\e820'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e821'; } /* '' */
.icon-cab:before { content: '\e822'; } /* '' */
.icon-building-filled:before { content: '\e823'; } /* '' */
.icon-file-pdf:before { content: '\e824'; } /* '' */
.icon-doc-text-inv:before { content: '\e825'; } /* '' */
.icon-doc-inv:before { content: '\e826'; } /* '' */